.git
.turbo
dist
node_modules
**/node_modules
**/dist
**/target
coverage
*.log
.DS_Store
*.local
*.tmp
*.swp
.env
.env.*
!.env.example
!apps/fn-knock/app/server-auth-view/dist
!apps/fn-knock/app/server-auth-view/dist/**
apps/fn-knock/app/server/server-admin/**
apps/fn-knock/app/server/server-admin-rs*
